# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
dev_venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
.mypy_cache/
.demos/
.anchor/
target/
**/*.rs.bk
node_modules/
test-ledger/
.yarn/

# Backend specific
backend/.env
backend/.env_defaults

# Frontend specific
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build/
frontend/dist/
frontend/.next/
frontend/out/

# Логи и отладочная информация
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite

# Папки среды виртуального окружения
env.bak/
venv.bak/
black_venv/
.black_venv

# Настройки IDE и редакторов
*.sublime-project
*.sublime-workspace

# Конфигурационные файлы системы
.DS_Store
Thumbs.db

# Файлы для работы с Docker
*.env
docker-compose.override.yml

# Кеши и временные файлы
*.cover
.hypothesis/
.cache/
.tox/
.coverage

# Файлы тестирования
.pytest_cache/
htmlcov/

# Pyre - статический анализатор типов для Python
.pyre/

# Pytype - статический анализатор типов для Python
.pytype/

# Пакеты и зависимости Python
*.wheel
pip-log.txt

# Celery файлы
celerybeat-schedule
.qodo
